
@{
    ViewData["Title"] = "خطا!";
}

<style>
    .bgc {
        background-color: #e7344a;
    }

    .text1 {
        font-size: 1.43rem;
        line-height: 50px;
        margin: 10px;
        font-weight: 700;
    }
</style>

<div class="row bgc d-flex justify-content-center mt-lg-0 mt-sm-5 pt-lg-0 pt-sm-4 pb-lg-0 pb-sm-5">
    <p class="text1 text-white col-12 text-center pt-lg-0 pt-sm-5 pb-5">
        شما به صفحه مورد نظر دسترسی ندارید
    </p>
    <img class="img-fluid col-12 pt-5 pb-sm-5 pb-lg-4" src="~/img/1.jpg" alt="Digikala | Access Denied" />
</div>