
@{
    ViewData["Title"] = "PageNotFound";
}

<style>
.text1 {
        font-size: 1.43rem;
        line-height: 50px;
        margin: 10px;
        font-weight: 700;
    }
</style>

<div class="row d-flex justify-content-center p-5">
    <p class="text1 text-black col-12 text-center">
        شما به صفحه مورد نظر دسترسی ندارید
    </p>
    <img class="img img-fluid col-8" src="https://www.digikala.com/static/files/644d3f75.png" alt="Digikala | Error404" />
</div>