@model DigikalaDataAccess.User

@{
    ViewData["Title"] = "بازیابی رمز عبور | فروشگاه اینترنتی دیجی کالا";
}

<style>

    .box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ededed;
        border-radius: 7.5px;
    }

    .text1 {
        font-size: 1.43rem;
        line-height: 50px;
        margin: 10px;
        font-weight: 700;
    }

    .text2 {
        font-size: 0.855rem;
        line-height: 20px;
        font-weight: 400;
        margin: 15px;
    }

    .text4 {
        font-size: 0.785rem;
        line-height: 20px;
        font-weight: 400;
        margin: 7.5px;
    }

    .button1 {
        font-size: 1rem;
        line-height: 25px;
        font-weight: 700;
        padding: 12.5px;
        border-radius: 7.5px;
        margin: 5px;
    }

    .input1 {
        padding: 10px;
        border-radius: 7.5px;
    }
</style>

<div class="col-lg-3 col-sm-6 box show">

    <div class="row justify-content-center m-4">
        <img src="https://www.digikala.com/static/files/bc60cf05.svg" alt="Logo" />
    </div>
    <p class="text1">درخواست بازیابی رمز عبور</p>
    <form asp-action="ForgotPassword" asp-controller="Authentication" asp-area="customer" method="post">
        <div class="form-group">
            <p class="text-secondary text2">لطفا نام كاربري خود را وارد کنید</p>
            <input asp-for="UserName" class="form-control input1" id="UserName" />
            <span asp-validation-for="UserName" class="text4 text-danger"></span>
        </div>
        <input type="submit" class="btn btn-danger btn-block button1" value="ادامه" onclick="check();" />
    </form>
</div>