<div class="row bg-white p-lg-2 p-sm-0">
    <div class="col-lg-2 col-sm-4 p-1 m-2 text-secondary enter">
        <i class="fas fa-shopping-cart border-right border-dark p-2"></i>
        <a class="btn bg-white btn-outline-secondary p-2 ml-2" asp-action="Dashboard" asp-controller="Home" asp-area="Seller">
            <i class="fa fa-user"></i>
            @Model.UserName
        </a>
    </div>
    <div class="col-lg-9 col-sm-7">
        <div class="input-group m-2">
            <input class="form-control bg-light border-0 p-4 text-right text-secondary" type="search" placeholder="جستجو در دیجی کالا" aria-label="Search" />
            <div class="input-group-append">
                <span class="input-group-text bg-light border-0 text-secondary"><i class="fas fa-search"></i></span>
            </div>
            <a class="navbar-brand ml-sm-2 ml-lg-4 mt-2" href="#">
                <img src="https://www.digikala.com/static/files/bc60cf05.svg" />
            </a>
        </div>
    </div>
</div>
<hr class="col-12 text-center bg-light p-0 m-0" />