@model User

@{
    ViewData["Title"] = "دیجی کالا";
}

@section Style{

    .text1 {
    font-size: 1.43rem;
    line-height: 50px;
    margin: 10px;
    font-weight: 700;
    }

    .button1 {
    background-color: #57cfb1;
    width: 205px;
    height: 50px;
    border-radius: 7.5px;
    }

    .text2 {
    color: #57cfb1;
    }

    .input1 {
    padding: 15px;
    border-radius: 7.5px;
    }

    a {
    text-decoration: none;
    color: gray;
    }
    }

    <div class="col-12 pt-sm-3 pt-lg-5">
        <div class="row justify-content-center p-3">
            <img src="https://seller.digikala.com/static/files/9eb66c4d.svg" alt="Logo" />
            <br />
        </div>

        <div class="row justify-content-center p-2">
            <p class="text1">
                یادآوری کلمه عبور
            </p>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-lg-10 col-sm-12 mt-5">
            <form asp-action="forgotpassword" asp-controller="Authentication" asp-area="seller" method="post">
                <div class="form-group input-group">
                    <input asp-for="UserName" class="input1 form-control text-right border-right-0" placeholder="نام كاربري خود را وارد کنید" />
                    <div class="input-group-append">
                        <span class="input-group-text text-secondary bg-white border-left-0"><i class="fas fa-user"></i></span>
                    </div>
                </div>
                <span asp-validation-for="UserName" class="text-danger mt-1 mr-5"></span>
                <div class="row m-auto d-flex justify-content-center">
                    <input type="submit" class="text-white btn button1 pr-5 pl-5 pt-1 pb-1 mt-3 mb-3" value="ارسال ایمیل بازیابی" />
                </div>
            </form>
            <p class="text-secondary text-center mt-3">
                هنوز ثبت نام نکرده اید؟
                <a class="text2 border-bottom text-decoration-none" asp-action="Register" asp-controller="Authentication" asp-area="seller">همین حالا ثبت نام کنید</a>
            </p>
            <div class="row text-center text2 mt-3 text-center">
                <nav class="navbar-expand m-auto">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item mr-lg-3 ml-lg-3 mr-sm-0 ml-sm-0">
                            <a class="nav-link" href="#">
                                مراحل ثبت نام
                            </a>
                        </li>
                        <li class="nav-item mr-lg-3 ml-lg-3 mr-sm-0 ml-sm-0">
                            <a class="nav-link" href="#">
                                سوالات متداول
                            </a>
                        </li>
                        <li class="nav-item mr-lg-3 ml-lg-3 mr-sm-0 ml-sm-0">
                            <a class="nav-link" href="#">
                                مرکز آموزش فروشندگان
                            </a>
                        </li>
                        <li class="nav-item mr-lg-3 ml-lg-3 mr-sm-0 ml-sm-0">
                            <a class="nav-link" href="#">
                                فروشگاه اینترنتی دیجی کالا
                            </a>
                        </li>
                        <li class="nav-item mr-lg-3 ml-lg-3 mr-sm-0 ml-sm-0">
                            <a class="nav-link" href="#">
                                ثبت رسید سفارش
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row text-center text2 mt-3 text-center">
                <nav class="navbar-expand m-auto">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Sellersupport@digikala.com
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                021 - 61930600
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                ارتباط با مرکز فروشندگان دیجی کالا
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>