@model User

@{
    ViewData["Title"] = "پروفایل | فروشگاه اینترنتی دیجی کالا";
}

@section Style{
    .shadow {
    box-shadow: 0 5px 5px 0 #ededed, 0 5px 5px 0 #ededed;
    border-radius: 15px;
    }

    .txt {
    font-size: 14px;
    }

    .photos img {
    position: absolute;
    left: 0;
    border-radius: 10px;
    max-width: 100%;
    opacity: 0;
    transition: opacity .6s ease-in;
    }

    .photos .showed {
    opacity: 1;
    }

    .controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 5rem;
    line-height: 22.5rem;
    transition: background-color 0.5s linear;
    box-sizing:border-box;
    }

    .enter a:hover{
    color:gray;
    }
}

@Html.Partial("_PartialTop")

@Html.Partial("_PartialNav")

<div class="container bg-white mb-lg-5 mt-lg-5">
    <div class="row bg-transparent mr-5 ml-5">
        <div class="col-lg-3 col-sm-6 mb-sm-3 m-lg-0">
            <div class="card border-0">
                <a asp-action="index" asp-controller="comment" asp-area="seller">
                    <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/2190/2190552.png">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card border-0">
                <a>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/2462/2462719.png">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card border-0">
                <a>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/2462/2462719.png">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card border-0">
                <a>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/2462/2462719.png">
                </a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PartialFooter")