<div class="d-flex justify-content-center row bg-light text-secondary border-top border-light p-5">
    <div class="col-6 text-left">
        <a class="btn bg-light text-secondary border-secondary" href="#"> ^ بازگشت به بالا</a>
    </div>
    <div class="col-6">
        <img src="https://www.digikala.com/static/files/2a4774d7.svg" class="mb-lg-3" />
        <h6 class="text-secondary text-right d-sm-none d-lg-block">
            تلفن پشتیبانی :
            ۶۱۹۳۰۰۰۰ - ۰۲۱
            |
            هفت روز هفته، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم
        </h6>
    </div>
</div>
<hr class="col-12 text-center bg-light p-0 m-0" />
<div class="d-flex justify-content-center row border-top border-light pb-5 pl-5 pr-5 pt-4 text-secondary bg-light">
    <div class="col-lg-2 col-sm-4"><img class="img-fluid" src="https://www.digikala.com/static/files/8f570b58.svg" /><h6 class="text-center m-4">تحویل اکسپرس</h6></div>
    <div class="col-lg-2 col-sm-4"><img class="img-fluid" src="https://www.digikala.com/static/files/a9286d2f.svg" /><h6 class="text-center m-3">پشتیبانی ۲۴ ساعته</h6></div>
    <div class="col-lg-2 col-sm-4"><img class="img-fluid" src="https://www.digikala.com/static/files/22414818.svg" /><h6 class="text-center m-3">پرداخت در محل</h6></div>
    <div class="col-lg-2 col-sm-4"><img class="img-fluid" src="https://www.digikala.com/static/files/514926b1.svg" /><h6 class="text-center m-3">۷ روز ضمانت بازگشت</h6></div>
    <div class="col-lg-2 col-sm-4"><img class="img-fluid" src="https://www.digikala.com/static/files/fdb293e6.svg" /><h6 class="text-center m-3">ضمانت اصل‌بودن کالا</h6></div>
</div>
<hr class="col-12 text-center bg-light p-0 m-0" />
<div class="d-flex justify-content-center row bg-light p-3">
    <div class="col-lg-4 col-sm-12 text-right float-right">
        <div class="row text-right float-right p-1">
            <h5>
                :از تخفیف‌ها و جدیدترین‌های دیجی‌کالا باخبر شوید
            </h5>
        </div>
        <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
                <button class="btn bg-secondary text-light" type="button">ثبت</button>
            </div>
            <input type="text" class="form-control text-right bg-light" placeholder="آدرس ایمیل خود را وارد کنید" aria-label="" aria-describedby="basic-addon1" style="border-top-right-radius:10px;border-bottom-right-radius:10px">
        </div>
        <div class="row text-right d-flex justify-content-center p-3">
            <div class="col-6 text-left text-sm-center">
                <i class="m-2 fab fa-linkedin-in"></i>
                <i class="m-2 fab fa-youtube"></i>
                <i class="m-2 fab fa-twitter"></i>
                <i class="m-2 fab fa-instagram"></i>
            </div>
            <div class="col-6 text-right text-sm-center">
                <h5>
                    با ما همراه باشید
                </h5>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-4 text-right"><h6>راهنمای خرید از دیجی کالا</h6><h6 class="text-secondary">نحوه ثبت سفارش</h6><h6 class="text-secondary">رویه ارسال سفارش</h6><h6 class="text-secondary">شیوه های پرداخت</h6></div>
    <div class="col-lg-2 col-sm-4 text-right"><h6>خدمات مشتريان</h6><h6 class="text-secondary">پاسخ به پرسش هاي متداول</h6><h6 class="text-secondary">رویه های بازگرداندن کالا</h6><h6 class="text-secondary">شرایط استفاده</h6><h6 class="text-secondary">حریم خصوصی</h6><h6 class="text-secondary">گزارش باگ</h6></div>
    <div class="col-lg-2 col-sm-4 text-right"><h6>با دیجی کالا</h6><h6 class="text-secondary">اتاق خبر دیجی کالا</h6><h6 class="text-secondary">فروش در دیجی کالا</h6><h6 class="text-secondary">فرصت های شغلی</h6><h6 class="text-secondary">تماس با دیجی کالا</h6><h6 class="text-secondary">درباره دیجی کالا</h6><h6 class="text-secondary">راهنمای هویت بصری</h6></div>
</div>
<div class="d-flex justify-content-center row bg-dark text-secondary border-top border-light pt-3 pb-3 m-1 shadow">
    <img class="col-lg-2 col-sm-4" src="https://www.digikala.com/static/files/6f0c9aeb.svg" />
    <img class="col-lg-2 col-sm-4" src="https://www.digikala.com/static/files/b43d144f.svg" />
    <img class="col-lg-2 col-sm-4" src="https://www.digikala.com/static/files/c824b056.svg" />
</div>
<div class="d-flex justify-content-center row bg-light p-3">
    <h6 class="text-dark col-12 float-right pr-5 mr-5 ml-5 pl-5">فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین</h6>
    <h6 class="text-secondary col-12 float-right pr-5 mr-5 ml-5 pl-5">دیجی‌کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل، پرداخت در محل، ۷ روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به سایت دیجی‌کالا با دنیایی از کالا رو به رو می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد</h6>
</div>
<hr class="col-12 text-center bg-light p-0 m-0" />
<div class="d-flex justify-content-center row bg-light text-secondary border-top border-light p-3">
    <div class="col-12">
        <h6 class="text-secondary text-center">
            .استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) می‌باشد
        </h6>
    </div>
</div>