<div class="row bg-light d-sm-none d-lg-block">
    <img class="img-fluid" src="https://dkstatics-public.digikala.com/digikala-adservice-banners/dee13af17fcbecd33e3da2a326612a731f7e2b52_1623954093.gif" />
</div>