<div class="row p-lg-2 p-sm-0 bg-white m-auto txt">
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light bg-white m-auto">
        <ul class="navbar-nav m-auto">
            <li class="nav-item mr-lg-5 pr-lg-5 mr-sm-5 pr-sm-5">
                <a class="nav-link" href="#">
                    لطفا شهر و استان خود را انتخاب کنید
                </a>
            </li>
            <li class="nav-item mr-lg-3 ml-lg-3 mr-sm-0 ml-sm-0">
                <a class="nav-link" asp-action="Register" asp-controller="Authentication" asp-area="Seller">
                    فروشنده شوید
                </a>
            </li>
            <li class="nav-item mr-lg-3 ml-lg-3 d-sm-none d-lg-block">
                <a class="nav-link" href="#">
                    سوالی دارید
                </a>
            </li>
            <li class="nav-item mr-lg-3 ml-lg-3 d-sm-none d-lg-block">
                <a class="nav-link" href="#">
                    دیجی کلاب
                </a>
            </li>
            <li class="nav-item mr-lg-3 ml-lg-3 d-sm-none d-lg-block">
                <a class="nav-link" href="#">
                    دیجی پلاس
                </a>
            </li>
            <li class="nav-item mr-lg-3 ml-lg-3 d-sm-none d-lg-block">
                <a class="nav-link" href="#">
                    دیجی کالای من
                </a>
            </li>
            <li class="nav-item mr-lg-3 ml-lg-3 d-sm-none d-lg-block">
                <a class="nav-link" href="#">
                    تخفیف ها و پیشنهاد ها
                </a>
            </li>
            <li class="nav-item mr-lg-3 ml-lg-3 d-sm-none d-lg-block">
                <a class="nav-link" href="#">
                    سوپر مارکت
                </a>
            </li>
            <li class="nav-item font-weight-bolder border-left">
                <a class="nav-link" href="#">
                    دسته بندی کالا ها
                </a>
            </li>
        </ul>
    </nav>
</div>